<template>
     <q-card class="my-card">
          <q-card-section class="row justify-between" horizontal>
            <q-img style="max-width: 150px; height: 150px" :src="item?.product.image_url" />
            <div class="row justify-between items-center">
              <div class="col-12 text-h6 ellipsis">
                {{item?.product.title}}
              </div>
              <div class="row items-center q-gutter-sm">
                <div>
                  {{item?.product.price}} $
                </div>
                <q-input debounce="800" v-model="num" dense min="1" max="1000000" type="number" outlined label="Количество" />
                <div>
                  Всего: {{item?.product.price * num}} $
                </div>
                <q-btn label="Del" @click="deleteItem"/>
              </div>
            </div>
          </q-card-section>
        </q-card>
</template>

<script>
export default {
    name: "CartItem",
    props: ["item"],
    data() {
        return {
            num: 1,
        }
    },
    methods: {
        deleteItem() {
            if (!this.$store.login) {
                let cart = this.$q.localStorage.getItem('testCart')
                delete cart[this.item.id]
                this.$q.localStorage.set('testCart', cart)
            } else {
                this.$store.actionCart(this.item.id, 'delete')
            }
            this.$store.loadCartItems(this.$store.login)
        }
    },
    watch: {
      num () {
        if (this.$store.login && this.num != this.item.quantity) {
          this.$store.actionCart(this.item.id, 'patch', {quantity: this.num})
        } else if (!this.$store.login && this.$q.localStorage.has('testCart')) {
          let cart = this.$q.localStorage.getItem('testCart')
          cart[this.item.id]['quantity'] = this.num
          this.$q.localStorage.set('testCart', cart)
        }
      }
    },
    created () {
        this.num = this.item.quantity
    }
}
</script>