<template>
    <q-dialog :model-value="is_show" @hide="() => $emit('hide', false)">
      <q-card class="q-dialog-plugin">
        <form @submit.prevent.stop="onSubmit" @reset.prevent.stop="onReset" class="q-gutter-y-lg q-ma-md">
          <q-input
            ref="nameRef"
            maxlength=40
            filled
            type="text"
            v-model="name"
            label="Your name *"
            hint="Name and surname"
            lazy-rules
            :rules="required()"
          />
          <q-input
            ref="emailRef"
            maxlength=40
            filled
            type="email"
            v-model="email"
            label="Your email *"
            lazy-rules
            :rules="required()"
          />
          <q-input
            ref="descriptionRef"
            autogrow
            maxlength=200
            filled
            type="text"
            input-class="description-text"
            v-model="description"
            label="Description task *"
            hint="Description task"
            lazy-rules
          />
          <div>
            <q-btn label="Create" type="submit" color="primary" />
            <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
            <q-btn flat v-close-popup color="red" label="Cancel" />
          </div>
        </form>
      </q-card>
    </q-dialog>
</template>

<script>
export default {
    name: "CreateTask",
    props: ['is_show'],
    data() {
        return {
            showCreateDlg: false,
            name: '',
            email: '',
            description: ''
        }
    },
    methods: {
        onSubmit() {
            this.$refs.nameRef.validate()
            this.$refs.emailRef.validate()
            this.$refs.descriptionRef.validate()
            if (this.$refs.nameRef.hasError || this.$refs.emailRef.hasError) {
                this.$q.notify({
                    color: 'negative',
                    message: 'You need to fill this fields for create task'
                })
            } else {
                this.$store.createObj({
                  username: this.name,
                  email: this.email,
                  text: this.description
                })
                this.name = this.email = this.description = ''
                this.$emit('hide')
            }
        },
        required() {
            return [val => !!val || 'Field is required']
        },
        onReset() {
            this.$refs.nameRef.resetValidation()
            this.$refs.emailRef.resetValidation()
            this.$refs.descriptionRef.resetValidation()
        }
    }
}
</script>

<style>
  .description-text {
    height: 80px !important;
  }
</style>