<template>
    <q-btn-group>
        <q-btn 
            color="primary"
            @click="asc=!asc" 
            :label="asc ? 'asc': 'desc'"
            style="width: 70px" 
        />
        <q-btn-dropdown
            v-model="downMenu"
            color="primary"
            label="Sorting"
            style="height: 20px;"
        >
            <q-option-group
                :options="options"
                type="radio"
                v-model="group"
            />
        </q-btn-dropdown>
    </q-btn-group>
</template>

<script>
export default {
    name: "FilterComponent",
    props: ['page'],
    data() {
        return {
            downMenu: false,
            asc: true,
            group: 'id',
            options: [
                { label: 'id', value: 'id' },
                { label: 'username', value: 'username', color: 'green' },
                { label: 'email', value: 'email', color: 'red' },
                { label: 'status', value: 'status', color: 'orange' }
            ]
        }
    },
    methods: {
        getListTask () {
            this.$emit('sorted', {
                sort_field: this.group,
                sort_direction: this.asc ? 'asc': 'desc',
            })
        }
    },
    watch: {
        asc () {
            this.getListTask()
        },
        group () {
            this.getListTask()
        }
    }
}
</script>