<template>
    <form @submit.prevent.stop="onLogin" class="login-form q-gutter-y-sm q-ma-md">
        <q-input
            dense
            ref="loginRef"
            maxlength=40
            filled
            type="text"
            v-model="login"
            label="Email *"
            hint="Email"
            lazy-rules
            :rules="required()"
        />
        <q-input
            dense
            ref="passRef"
            maxlength=40
            filled
            type="password"
            v-model="password"
            label="Password"
            lazy-rules
            :rules="required()"
        />
        <div>
            <q-btn label="Login" type="submit" color="primary" />
            <q-btn flat v-close-popup color="red" label="Cancel" />
        </div>
    </form>
</template>

<script>
import urls from '../api/url'
const querystring = require('querystring')

export default {
    name: "LoginForm",
    data () {
        return {
            login: '',
            password: ''
        }
    },
    methods: {
        onLogin () {
            this.$refs.loginRef.validate()
            this.$refs.passRef.validate()
            if  (!this.$refs.loginRef.hasError || !this.$refs.passRef.hasError) {
                this.$axios.post(urls.LOGIN_URL, 
                    querystring.stringify({
                        email: this.login,
                        password: this.password
                    })
                ).then((response) => {
                    if (response.status == 200) {
                        this.$q.localStorage.set('token', response.data.access)
                        this.$q.notify({
                            position: 'top',
                            color: 'green',
                            message: 'Вы вошли'
                        })
                        this.$emit('login')
                    } else {
                        this.$q.notify({
                            position: 'top',
                            color: 'red',
                            message: response.statusText
                        })
                    }
                }).catch((response)=> this.$q.notify({
                            position: 'top',
                            color: 'red',
                            message: response.message
                        })
                    )
            }
        },
        required () {
            return [val => !!val || 'Field is required']
        }
    }
}
</script>

<style scoped>
    .login-form {
        width: 220px;
    }
</style>