<template>
     <q-card style="max-width: 350px" class="my-card">
          <q-img style="height: 300px" :src="product.image_url" />

          <q-card-section>
            <div class="row justify-between items-center">
              <div class="col-12 text-h6 ellipsis">
                {{product.title}}
              </div>
              <div class="row items-center q-gutter-sm">
                <div>
                  {{product.price}} $
                </div>
                <q-input v-model="num" dense min="1" max="1000000" type="number" outlined label="Количество" />
              </div>
              <q-btn class="self-end" fab color="primary" @click="addTocart" icon="las la-cart-plus"/>
            </div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="text-subtitle1">
             Продавец {{product.user.name}}
            </div>
            <div class="text-caption text-grey">
              {{product.description}}
            </div>
          </q-card-section>
        </q-card>
</template>

<script>
export default {
    name: "ProductComponent",
    props: ["product"],
    data() {
        return {
            num: 1,
        }
    },
    methods: {
        addTocart() {
            if (this.$store.login){
              this.$store.actionCart(null, 'post', {
                                            "quantity": parseInt(this.num),
                                            "product": this.product.id
                                            })
            } else {
              if (this.$q.localStorage.has('testCart')) {
                var cart = this.$q.localStorage.getItem('testCart')
                if (cart[this.product.id]) {
                  cart[this.product.id].quantity = parseInt(cart[this.product.id].quantity) + parseInt(this.num)
                } else {
                  cart[this.product.id] = {
                    id: this.product.id,
                    quantity: parseInt(this.num),
                    product: {
                      title: this.product.title,
                      price: this.product.price,
                      image_url: this.product.image_url
                    }
                  }
                }
              } else {
                var cart = {}
                cart[this.product.id] = {
                  id: this.product.id,
                  quantity: this.num,
                  product: {
                    title: this.product.title,
                    price: this.product.price,
                    image_url: this.product.image_url
                  }
                }
              }
              this.$q.localStorage.set('testCart', cart)
            }
        }
    }
}
</script>