<template>
  <q-page class="flex flex-start column" >
    <div class="row items-center justify-between q-my-sm">
      <div class="row q-my-sm full-width" v-for="item in itemsCart" :key="item.id">
        <CartItem class="col-12" :item="item"/>
      </div>
    </div>
    Итого стоимость {{ allPrice }}
    <q-input ref="inpEmail" v-if="!$store.login" class="q-my-md"  v-model="email" type="email" outlined label="Эл почта" :rules="[val => !!val || 'Field is required',
      val => /\S+@\S+\.\S+/.test(val) || 'Invalid email']" />
    <q-btn class="q-my-md" :disable="!email && !$store.login" @click="crateOreder" color="primary" label="Офрормить заказ" />
    <div class="q-pa-xl" v-if="!$store.login && $store.loginData"> {{$store.loginData}} </div>
  </q-page>
</template>

<script>
import CartItem from 'components/CartItem'
export default {
  components: { CartItem },
  name: 'IndexProduct',
  data() {
    return {
        email: ''
    }
  },
  computed: {
    itemsCart() {
      return this.$store.getterCartItems()
    },
    allPrice() {
        return this.$store.getterCartItems().map(a => a.quantity*a.product.price).reduce((a,b)=> a + b, 0)
    }
  },
  methods: {
    crateOreder() {
      if (this.$store.login) {
        this.$store.actionCart('order', 'post')
      } else {
        if (this.$refs.inpEmail.validate()) {
          let cart = Object.values(this.$q.localStorage.getItem('testCart'))
          if (cart) {
            cart = cart.map(x=>{return {product: x.id, quantity: x.quantity}})
            this.$store.actionCart('orders', 'post', {
              email: this.email,
              items: cart
            })
          }
        }
      }
    }
  },
  watch: {
      '$store.login' () {
          this.$store.loadCartItems(this.$store.login)
      }
  },
  created() {
    this.$store.loadCartItems(this.$store.login)
  }
}
</script>
