<template>
  <q-page class="flex flex-start column" >
    <div class="row items-center justify-between q-my-sm">
      <div class="q-my-sm" v-for="product in products" :key="product.id">
        <ProductItem :product="product" />
      </div>
    </div>
    <q-page-sticky position="bottom-right" :offset="[180, 18]">
       <q-btn @click="$router.push('/cart')" round size="lg" color="accent" icon="las la-shopping-cart" />
    </q-page-sticky>
  </q-page>
</template>

<script>
import ProductItem from 'components/Product'
export default {
  components: { ProductItem },
  name: 'IndexProduct',
  data() {
    return {
    }
  },
  computed: {
    products() {
      return this.$store.getterProducts()
    },
  },
  methods: {
  },
  created() {
    this.$store.loadProductList()
  }
}
</script>
