<template>
  <q-layout view="lHh Lpr lFf">
    <q-toolbar class="bg-primary text-white">
      <div class="mainLayout row justify-between">
        <q-toolbar-title @click="$router.push('/')" class="q-ml-sm cursor-pointer">TEST MARKET</q-toolbar-title>
        <q-btn v-if="!$store.login" flat label="Login" >
          <q-popup-proxy>
            <div class="bg-grey-1">
            <LoginForm @login="$store.login=true"/>
            </div>
          </q-popup-proxy>
        </q-btn>
        <q-btn v-else flat label="Logout" @click="logout" />
      </div>
    </q-toolbar>
    <q-page-container class="mainLayout">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import LoginForm from 'components/Login'

export default {
  name: 'MainLayout',
  components: { LoginForm },
  methods: {
    logout () {
      this.$q.localStorage.remove('token')
      this.$store.login=false
    }
  },
  created () {
    this.$store.login=this.$q.localStorage.has('token')
  }
}
</script>

<style scoped>
  .mainLayout {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }
</style>
